.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    transition: transform 2000ms ease-in-out;
    transform-origin: left top;
  }
  .App-logo:hover {
  transform: scale(1.2)
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app {
  padding-left: 10px;
  padding-right: 10px;
}
button {
  border: none;
  border-radius: 10px;
  background-color: white;
  padding: 10px 20px;
  text-indent: 10px;
}